.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  font-weight: bold;
}

.box {
  font-size: 1.8rem;
  height: 27px;
}

.box svg {
}

.flex {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0;
  margin: 0l;
}

.flex span {
  line-height: 2.7rem;
}

.center {
  margin-top: 2.4rem;
  text-align: center;
  font-size: 2rem;
}
