/* Added by sasigume */

/* This variables are used in module CSS in the theme folder */

.borderButton {
  color: var(--theme-color);
  border: solid 1px var(--theme-color);
  border-radius: var(--ifm-pagination-nav-border-radius);
}

.borderButtonFilled {
  color: #fff;
  background-color: var(--theme-color);
  border: solid 1px var(--theme-color);
  border-radius: var(--ifm-pagination-nav-border-radius);
}
