name: Auto Comment
on:
  issues:
  pull_request:
    branches: [main]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: bubkoo/auto-comment@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          issuesOpened: >
            👋 @{{ author }}
            issue投稿ありがとうございます。確認に時間がかかるかもしれませんが、しばらくお待ちください。

          pullRequestOpened: >
            👋 @{{ author }}
            プルリクエストありがとうございます。確認に時間がかかるかもしれませんが、しばらくお待ちください。
